<div class="container">
    <h1>Create A Blog</h1>
    <form #createForm="ngForm" (ngSubmit)="getBlogdata()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" [(ngModel)]="title" #blogTitle="ngModel"  required>
        </div>
        <div [hidden]="blogTitle.valid || blogTitle.pristine" class="alert alert-danger">
            Title is required
        </div>

        <div class="form-group">
            <label for="blogDescription">Description</label>
            <input type="text" class="form-control" name="blogDescription" [(ngModel)]="description" required>
        </div>

        <div class="form-group">
            <label for="blogBody">Body</label>
            <input type="text" class="form-control" name="blogBody" [(ngModel)]="blogBody" required>
        </div>

        <div class="form-group">
            <label for="blogCategory">Category</label>
            <select name="blogCategory" name="blogCategory" [(ngModel)]="category">
                <option *ngFor="let category of categoryValues" [value]="category">{{category}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>