<div class="container" style="text-align: center">
    <div class="row" style="text-align: center">
        <div class="col-md-12" style="font-size: 22px">All Blogs</div>
    </div>
    <br><br><br>
    <div class="row" style="text-align: center">
        <div *ngFor="let blog of allBlogs" class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title card-header">{{blog.title | uppercase}}</h5>
                        <br><br>
                    <p class="card-text">{{blog.description}} <br> Posted on {{blog.time | date}} <br>
                        by {{blog.createdBy}}
                    </p>
                    <br><br> 
                    <div class="card-footer">
                        <a [routerLink]="['/blog',blog.blogId]" class="btn btn-primary">Read</a>
                    </div>
                    

                </div>
            </div>
        </div>
        <br>
    </div>

</div>